@media only screen and (min-width: 769px) {
  
  aside:first-of-type div { 
      width: 380px;
      height: 200px;
      line-height: 200px;
      float: left;
  }

  aside:not(:first-of-type) div{
    width: 190px;
    height: 250px;
    line-height: 250px;
    float: left;
  }
}

@media only screen and (max-width: 768px) {

  body {
    width: 480px;
    margin: 0 auto;
  }

  aside:first-of-type div {
      width: 480px;
      height: 125px;
      line-height: 125px;
  }

  aside:not(:first-of-type) div{
    width: 240px;
    height: 250px;
    line-height: 250px;
    float: left;
  }

  aside:after {
    content: "";
    display: table;
    clear: both;
  }
}