@media only screen and (min-width: 769px) 
{
  #a {
    width: 960px;
    height: 100px;
    line-height: 100px;
  }
  
  #b {
    width: 200px;
    height: 600px;
    line-height: 600px;
    float: left;
  }
  
  #i {
    width: 760px;
    height: 150px;
    line-height: 150px;
    float: left;
  }
}

@media only screen and (max-width: 768px) {
  #a, #b {
    width: 480px;
    height: 75px;
    line-height: 75px;
  }

  #i {
    width: 480px;
    height: 80px;
    line-height: 80px;
  }

}